.App-header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}

.App-footer {
  background-color: #282c34;
  color: white;
  padding: 10px;
  text-align: center;
}
